<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kosa.mapper.UserMapper">
    <insert id="insertUser" parameterType="Map">
        INSERT INTO USERS (USERID, NAME, PASSWD, AUTHORITY)
        VALUES (#{userId}, #{name}, #{passwd}, #{authority})
    </insert>

    <select id="selectUser" resultType="Map">
        SELECT USERID AS USERNAME, PASSWD AS PASSWD, NAME, ENABLED, AUTHORITY
        FROM USERS
        WHERE USERID = #{userId}
    </select>
</mapper>